/*
	@package sunsettheme
*/

/*
  Variables
  ------------------------------------------------
*/

$icon-font : 'sunset-icon';
$body-font : 'Raleway', 'Helvetica Neue', 'Helvetica', Arial, Verdana, sans-serif;
$lightgray: #898989;
$darkgray: #333333;
$primaryColor: #000000;
$lightergray: #F1F1F1;