/*
	@package sunsettheme
*/

/*
  Variables
  ------------------------------------------------
*/

$icon-font : 'sunset-icon';
$body-font : 'Raleway', 'Helvetica Neue', 'Helvetica', Arial, Verdana, sans-serif;
$lightgray: #898989;
$darkgray: #333333;
$grey: #656565;
$grey2: #CBCBCB;
$primaryColor: #000000;
$lightergray: #F1F1F1;
$orange : #ff9d1d;
$orange-hover : #F56B08;

// Media Queries

$xs: 767px;